<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <h3>Tuesday 6<sup>th</sup> February 2024</h3>
    <table class="table table-striped">
        <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
        <tr> <td>09:00 - 10:30</td><td>Session one, introduction</td></tr>
        <tr> <td>10:30 - 10:45</td><td>Break</td></tr>
        <tr> <td>10:45 - 12:30</td><td>Session two, working with data</td></tr>
        <tr> <td>12:30 - 13:15</td><td>Lunch</td></tr>
        <tr> <td>13:15 - 15:00</td><td>Session three, control structures</td></tr>
        <tr> <td>15:00 - 15:15</td><td>Break</td></tr>
        <tr> <td>15:15 - 16:30</td><td>Session four, functions and conclusions</td></tr>
        <tr> <td>16:30</td><td>END</td></tr>
    </table>
  </div>
  <div class="col-md-2">&nbsp;</div>
</div>
